span {
	font-weight: bold;
}


img {
	z-index:1;
	border-radius: 10%;
	border-right:20px;
	float:right;
	height:180px;
	width:180px;
	box-shadow: rgba(0,0,0,0.2) 10px 10px;
	opacity:1.0;
	margin-right:40px;
	margin-top:-70px;
}

/*img:hover {
	opacity: 1.0; } */               /*Use if can figure out how to place an image under my profile pic*/


h5 {
	display:inline-block;
	font-size:16px;
	margin-top:-1px;
}

.date {
	position:relative;
	float:right;
}

#header {
	z-index:-3;
	height: 50px;
	width: 910px;
	text-align: left;
	padding-left:20px;
	border-radius:5px;
	font-size: 38px;
	position:relative;   			/*when I look at the page, decide whether I really want it to be absolute*/
	font-style:Gantsdesoie, Verdana;
	background-color:rgb(253,77,77);
	color:white;
	margin-right:200px;
	margin-left:200px;
}

#Top-section {
	z-index:-2;
	height: 60px;
	width: 920px;
	text-align: left;
	padding-left:10px;
	border-radius:5px;
	font-size: 18px;
	position:relative;   			/*when I look at the page, decide whether I really want it to be absolute*/
	font-style:Gantsdesoie, Verdana;
	background-color:rgb(253,77,77);
	color:white;
	margin-right:200px;
	margin-left:200px;
	margin-top:-5px;
}

#footer{
	height: 30px;
	width: 930px;
	border-radius:5px;
	text-align: center;
	font-style:Verdana;
	font-size: 20px;
	background-color:dimgray;
	color:white;
	padding-top:10px;
	margin-left:200px;
	margin-right:200px;
	margin-top:5px;
}

#resume-content{
	font-size: 16px;
	font-style:Verdana;
	margin-right:200px;
	margin-left:200px; 
}

.picture {
	display:inline;
}

a {
	text-decoration:none;
	color:black;
}

a:hover {
	color:green;
}

a:visted {
	color:green;
}

span3 {
	color:red;
}

span4 {
	color:green;
}

span5 {
	color:blue;
}

p {
	display:inline-block;
	text-wrap:normal;
	padding-left:10px;
	padding-right:10px;
	margin-top:-5px;
}

#summary-section {
	background-color:rgb(255,132,63);
	border-radius:5px;
	padding:10px;
	margin-top:-15px;
	font-size:18px;
}

#sum {
	font-size:18px;
	text-wrap:normal;
	margin-top:-10px;
	width:600px;
	padding:5px;
}

#education {
	background-color:lightblue;
	border-radius:5px;
	padding:10px;
	margin-top:5px;
}

#legal-section {
	background-color:lightgreen;
	border-radius:5px;
	padding:10px;
	margin-top:5px;
}

#technical-section {
	background-color:rgb(242,234,64);
	border-radius:5px;
	padding:10px;
	margin-top:5px;
}

#volunteer {
	background-color:rgb(171,113,229);
	border-radius:5px;
	padding:10px;
	margin-top:5px;
}

ul {
	margin-top:-5px;
}